/*Background Image */
                                    
                                    #bg {
                                        background-image: url("images/Background Image.jpg");
                                        background-position: center center;
                                        background-repeat: no-repeat;
                                        background-attachment: fixed;
                                        background-size: cover;
                                        font-family: Verdana, sans-serif;
                                        margin: 0;
                                        color: white;
                                        -webkit-animation-name: ScreenFade;
                                        -webkit-animation-duration: 4s;
                                        animation-name: ScreenFade;
                                        animation-duration: 4s;
                                    }
                                    
                                    @-webkit-keyframes ScreenFade {
                                        from {
                                            opacity: 0
                                        }
                                        to {
                                            opacity: 1
                                        }
                                    }
                                    
                                    @keyframes ScreenFade {
                                        from {
                                            opacity: 0
                                        }
                                        to {
                                            opacity: 1
                                        }
                                    }
                                    
                                    #TargetLinks {
                                        color: blue;
                                        text-decoration: none;
                                        transition: 2s;
                                    }
                                    
                                    #TargetLinks:hover {
                                        color: red;
                                    }
                                    
                                    #AboutLink {
                                        color: #00FF04;
                                        text-decoration: none;
                                        border: 1px solid #00FF04;
                                        display: inline-block;
                                        letter-spacing: 2px;
                                        text-transform: uppercase;
                                        overflow: hidden;
                                        transition: 1s;
                                    }
                                    
                                    #AboutLink:hover {
                                        color: #111;
                                        background-color: #39ff14;
                                        box-shadow: 0 0 100px #39ff14;
                                        transition-delay: 0.2s;
                                    }
                                    
                                    #CardsSection1 {
                                        display: none;
                                        position: relative;
                                        right: 15%;
                                        border-radius: none;
                                    }
                                    
                                    #CardsSection2 {
                                        display: block;
                                        position: relative;
                                        right: 15%;
                                        background-color: black;
                                        color: white;
                                        border-radius: none;
                                    }
                                    
                                    #Cards1:hover {
                                        box-shadow: 0 0 70px black;
                                        cursor: pointer;
                                        transition: 1s;
                                    }
                                    
                                    #Cards2:hover {
                                        box-shadow: 0 0 70px white;
                                        cursor: pointer;
                                        transition: 1s;
                                    }
                                    /*Main Heading (Animation)*/
                                    
                                    .class {
                                        text-align: center;
                                        color: #34FF00;
                                        animation: rainbow 5s infinite;
                                        margin: 50px;
                                    }
                                    
                                    @keyframes rainbow {
                                        40% {
                                            color: #00FFE7;
                                        }
                                        50% {
                                            color: #00FFC6;
                                        }
                                        60% {
                                            color: #00FF74;
                                        }
                                        70% {
                                            color: #00FF04;
                                        }
                                        80% {
                                            color: #FBFF00;
                                        }
                                        90% {
                                            color: #FF0000;
                                        }
                                        100% {
                                            color: #FF00ED;
                                        }
                                    }
                                    
                                    .class:hover {
                                        text-shadow: 0 0 20px black, 0 0 22px black;
                                        cursor: pointer;
                                    }
                                    
                                    .NavigationBar {
                                        overflow: hidden;
                                        background-color: black;
                                        font-family: Verdana, sans-serif;
                                        position: fixed;
                                        top: 0;
                                        width: 100%;
                                        z-index: 99;
                                        box-shadow: 0 0 50px black;
                                    }
                                    
                                    .NavigationBar a {
                                        margin: 0;
                                        float: right;
                                        display: block;
                                        color: #f2f2f2;
                                        text-align: center;
                                        padding: 24px;
                                        text-decoration: none;
                                        font-size: 17px;
                                    }
                                    
                                    .NavigationBar a:hover {
                                        background-color: #737373;
                                        color: white;
                                    }
                                    
                                    .button {
                                        border-radius: 4px;
                                        border: none;
                                        color: #FFFFFF;
                                        text-align: center;
                                        font-size: 23px;
                                        padding: 16px;
                                        width: 350px;
                                        transition: all 0.5s;
                                        cursor: pointer;
                                    }
                                    
                                    .button span {
                                        cursor: pointer;
                                        display: inline-block;
                                        position: relative;
                                        transition: 0.5s;
                                    }
                                    
                                    .button span:after {
                                        content: '\00bb';
                                        position: absolute;
                                        opacity: 0;
                                        top: 0;
                                        right: -20px;
                                        transition: 0.5s;
                                    }
                                    
                                    .button:hover span {
                                        padding-right: 25px;
                                    }
                                    
                                    .button:hover span:after {
                                        opacity: 1;
                                        right: 0;
                                    }
                                    
                                    #yr {
                                        font-size: 20px;
                                        padding: 10px;
                                        margin: 5px;
                                    }
                                    
                                    .span2 {
                                        color: black;
                                    }
                                    
                                    html {
                                        scroll-behavior: smooth;
                                    }
                                    
                                    .Home {
                                        background-attachment: fixed;
                                    }
                                    
                                    body {
                                        font-family: "Lato", sans-serif;
                                        transition: background-color .5s;
                                    }
                                    
                                    .sidenav {
                                        height: 100%;
                                        width: 0;
                                        position: fixed;
                                        z-index: 99;
                                        top: 0;
                                        left: 0;
                                        background-color: #111;
                                        overflow-x: hidden;
                                        transition: 1s;
                                        padding-top: 60px;
                                    }
                                    
                                    .sidenav a {
                                        padding: 8px 8px 8px 32px;
                                        text-decoration: none;
                                        font-size: 20px;
                                        color: white;
                                        display: block;
                                        transition: 1s;
                                    }
                                    
                                    .sidenav a:hover {
                                        color: #686868;
                                    }
                                    
                                    .sidenav .closeBtn {
                                        position: absolute;
                                        top: 0;
                                        right: 15px;
                                        font-size: 36px;
                                        margin-left: 50px;
                                    }
                                    
                                    #closebutton:hover {
                                        color: red;
                                    }
                                    
                                    #main {
                                        transition: margin-left .5s;
                                        padding: 16px;
                                    }
                                    
                                    .sideNavSettings {
                                        height: 100%;
                                        width: 0;
                                        position: fixed;
                                        z-index: 99;
                                        top: 0;
                                        left: 0;
                                        background-color: #111;
                                        overflow-x: hidden;
                                        transition: 0.5s;
                                        padding-top: 60px;
                                    }
                                    
                                    .sideNavSettings a {
                                        text-decoration: none;
                                        font-size: 25px;
                                        color: white;
                                        display: block;
                                        transition: 0.3s;
                                    }
                                    
                                    .sideNavSettings .closeBtnSettings {
                                        position: absolute;
                                        top: 0;
                                        right: 2%;
                                        font-size: 40px;
                                        margin-left: 50px;
                                        color: red;
                                    }
                                    
                                    h3 {
                                        margin: 20px;
                                    }
                                    
                                    form {
                                        margin: 50px;
                                    }
                                    
                                    .container {
                                        display: block;
                                        position: relative;
                                        padding-left: 35px;
                                        margin-bottom: 0;
                                        cursor: pointer;
                                        font-size: 22px;
                                        -webkit-user-select: none;
                                        -moz-user-select: none;
                                        -ms-user-select: none;
                                        user-select: none;
                                    }
                                    
                                    .container input {
                                        position: absolute;
                                        opacity: 0;
                                        cursor: pointer;
                                    }
                                    
                                    .checkmark {
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        height: 25px;
                                        width: 25px;
                                        background-color: #eee;
                                        border-radius: 50%;
                                    }
                                    
                                    .container:hover input~.checkmark {
                                        background-color: #ccc;
                                    }
                                    
                                    .container input:checked~.checkmark {
                                        background-color: #2196F3;
                                    }
                                    
                                    .checkmark:after {
                                        content: "";
                                        position: absolute;
                                        display: none;
                                    }
                                    
                                    .container input:checked~.checkmark:after {
                                        display: block;
                                    }
                                    
                                    .container .checkmark:after {
                                        top: 9px;
                                        left: 9px;
                                        width: 8px;
                                        height: 8px;
                                        border-radius: 50%;
                                        background: white;
                                    }
                                    
                                    #Setting {
                                        margin: 20px;
                                    }
                                    
                                    #ParentSection {
                                        background-color: black;
                                        width: 500%;
                                    }
                                    /*Search Button*/
                                    
                                    #search {
                                        margin: 0;
                                    }
                                    
                                    #search:hover {
                                        color: #a8a8a8;
                                        background-color: black;
                                    }

                                    #Settings{
                                        font-size: 10px;
                                        margin: 0;
                                    }
                                    #Settings:hover{
                                        color: #a8a8a8;
                                        background-color: black;
                                    }
                                    /*Neon Button*/
                                    
                                    #UpArrow1 {
                                        display: none;
                                        background-color: white;
                                        color: black;
                                        margin: 10px;
                                        padding: 5px;
                                        float: right;
                                        border-radius: 1px;
                                        z-index: 90;
                                        border: none;
                                        outline: none;
                                        cursor: pointer;
                                    }
                                    
                                    #UpArrow1:hover {
                                        background-color: #818181;
                                        color: white;
                                    }
                                    
                                    #UpArrow2 {
                                        display: none;
                                        background-color: black;
                                        color: white;
                                        margin: 10px;
                                        padding: 5px;
                                        float: right;
                                        border-radius: 2px;
                                        z-index: 90;
                                        border: none;
                                        outline: none;
                                        cursor: pointer;
                                    }
                                    
                                    #UpArrow2:hover {
                                        background-color: #3e3e3e;
                                        color: white;
                                    }
                                    
                                    .YOSHITHA {
                                        font-size: 25px;
                                        margin: 30px;
                                        color: blue;
                                    }
                                    
                                    .Big_Letters1 {
                                        font-size: 70px;
                                    }
                                    
                                    .Big_Letters2 {
                                        font-size: 50px;
                                    }
                                    
                                    #CardsCenter {
                                        position: relative;
                                        left: 29%;
                                    }
                                    
                                    .Btns {
                                        color: red;
                                        border: 1px solid red;
                                        text-decoration: none;
                                        padding: 10px;
                                        font-size: 20px;
                                        margin: 5px;
                                        transition: 1s;
                                        position: inherit;
                                        right: 10%;
                                    }
                                    
                                    .Btns:hover {
                                        color: black;
                                        background-color: red;
                                    }
                                    
                                    .Btn {
                                        color: red;
                                        border: 1px solid red;
                                        text-decoration: none;
                                        padding: 10px;
                                        font-size: 20px;
                                        margin: 5px;
                                        transition: 1s;
                                    }
                                    
                                    .Btn:hover {
                                        color: white;
                                        background-color: red;
                                    }
                                    
                                    #DarkThemeBtns {
                                        text-align: center;
                                    }
                                    
                                    #LightThemeBtns {
                                        text-align: center;
                                    }
                                    /*Mobile Responsives*/
                                    
                                    @media screen and (min-width: 1145px) {
                                        .mobileNavBar {
                                            display: inline-block;
                                            float: right;
                                        }
                                        .HamburgerIcon {
                                            display: none;
                                        }
                                    }
                                    
                                    @media screen and (max-width: 1145px) {
                                        .HamburgerIcon {
                                            font-size: 30px;
                                            cursor: pointer;
                                            display: block;
                                            float: right;
                                            margin: 8px;
                                        }
                                        .mobileNavBar {
                                            display: none;
                                        }
                                    }
                                    
                                    @media screen and (min-width: 1100px) {
                                        /*MRHead = Main Mobile Responsive*/
                                        .MRHead {
                                            display: flex;
                                        }
                                    }
                                    
                                    @media screen and (max-width: 1100px) {
                                        .MRHead {
                                            display: block;
                                            position: inherit;
                                        }
                                    }
                                    
                                    @media screen and (min-width: 900px) {
                                        /*MR1 = Mobile Responsive 1*/
                                        .MR1 {
                                            display: flex;
                                        }
                                        #ParentSection {
                                            width: 100%;
                                        }
                                    }
                                    
                                    @media screen and (max-width: 900px) {
                                        .MR1 {
                                            display: block;
                                        }
                                        #ParentSection {
                                            width: 100%;
                                        }
                                    }
                                    
                                    @media screen and (min-width: 720px) {
                                        #Cards1 {
                                            width: 200px;
                                            height: 100%;
                                        }
                                        #Cards2 {
                                            width: 200px;
                                            height: 100%;
                                        }
                                        #mySidenav {
                                            display: block;
                                        }
                                        #title1 {
                                            display: block;
                                            font-size: 40px;
                                            margin: 100px;
                                        }
                                        #title2 {
                                            display: none;
                                        }
                                        .hi {
                                            border-radius: 50%;
                                            height: 300px;
                                            width: 300px;
                                            margin: 50px;
                                            box-shadow: 0 0 50px black;
                                            cursor: pointer;
                                            transition: 0.3s;
                                        }
                                        .hi:hover {
                                            opacity: 0.8;
                                        }
                                        .iconss {
                                            display: block;
                                            margin: 100px;
                                        }
                                        .icons {
                                            display: none;
                                        }
                                        .marquee {
                                            font-size: 25px;
                                            margin: 30px;
                                        }
                                        #yr {
                                            display: none;
                                        }
                                        .button {
                                            display: inline-block;
                                        }
                                        #AboutLink {
                                            font-size: 20px;
                                            margin: 25px;
                                            padding: 20px 20px;
                                        }
                                        #Sections {
                                            font-size: 50px;
                                        }
                                        #Paragraphs {
                                            font-size: 20px;
                                        }
                                        .mySkills {
                                            display: block;
                                            font-size: 30px;
                                            margin: 20px;
                                        }
                                    }
                                    
                                    @media screen and (max-width: 720px) {
                                        #Cards1 {
                                            width: 150px;
                                            height: 300px;
                                        }
                                        #Cards2 {
                                            width: 150px;
                                            height: 300px;
                                        }
                                        #mySidenav {
                                            display: block;
                                        }
                                        #title1 {
                                            display: none;
                                        }
                                        #title2 {
                                            display: block;
                                            font-size: 30px;
                                            margin: 70px;
                                        }
                                        .hi {
                                            border-radius: 50%;
                                            height: 200px;
                                            width: 200px;
                                            margin: 25px;
                                            cursor: pointer;
                                            transition: 0.3s;
                                            box-shadow: 0 0 50px black;
                                        }
                                        .hi:hover {
                                            opacity: 0.8;
                                        }
                                        .iconss {
                                            display: none;
                                        }
                                        .icons {
                                            display: block;
                                            margin: 50px;
                                        }
                                        .marquee {
                                            font-size: 15px;
                                            margin: 15px;
                                        }
                                        #yr {
                                            display: inline-block;
                                        }
                                        .button {
                                            display: none;
                                        }
                                        #AboutLink {
                                            font-size: 10px;
                                            margin: 12.5px;
                                            padding: 10px 10px;
                                        }
                                        #Sections {
                                            font-size: 30px;
                                        }
                                        #Paragraphs {
                                            font-size: 15px;
                                        }
                                        .mySkills {
                                            display: block;
                                            font-size: 15px;
                                            margin: 10px;
                                        }
                                    }
                                    
                                    @media screen and (min-width: 800px) {
                                        #img {
                                            display: block;
                                        }
                                    }
                                    
                                    @media screen and (max-width: 800px) {
                                        #img {
                                            height: 250px;
                                            position: relative;
                                            bottom: 100%;
                                            left: 0%;
                                        }
                                    }
                                    
                                    @media screen and (min-width: 400px) {
                                        #Cards1 {
                                            position: inherit;
                                            right: 0;
                                        }
                                        #Cards2 {
                                            position: inherit;
                                            right: 0;
                                        }
                                    }
                                    
                                    @media screen and (max-width: 400px) {
                                        #Cards1 {
                                            position: inherit;
                                            right: 70px;
                                        }
                                        #Cards2 {
                                            position: inherit;
                                            right: 50px;
                                        }
                                    }
                                    
                                    @media screen and (min-width: 960px) {
                                        #UpArrow1 {
                                            position: fixed;
                                            right: 0%;
                                            top: 91%;
                                        }
                                        #UpArrow2 {
                                            position: fixed;
                                            right: 0%;
                                            top: 91%;
                                        }
                                    }
                                    
                                    @media screen and (max-width: 960px) {
                                        #UpArrow1 {
                                            position: fixed;
                                            right: 1%;
                                            top: 90%;
                                        }
                                        #UpArrow2 {
                                            position: fixed;
                                            right: 1%;
                                            top: 90%;
                                        }
                                        #ParentSection {
                                            width: 100%;
                                        }
                                    }
                                    
                                    #me {
                                        transition: 0.3s;
                                    }
                                    
                                    .modal {
                                        display: none;
                                        position: fixed;
                                        z-index: 1;
                                        padding-top: 100px;
                                        left: 0;
                                        top: 0;
                                        width: 100%;
                                        height: 100%;
                                        overflow: auto;
                                        background-color: rgb(0, 0, 0);
                                        background-color: rgba(0, 0, 0, 0.9);
                                    }
                                    
                                    .modal-content {
                                        display: block;
                                        width: 35%;
                                        max-width: 700px;
                                    }
                                    
                                    .modal-content {
                                        -webkit-animation-name: zoom;
                                        -webkit-animation-duration: 0.6s;
                                        animation-name: zoom;
                                        animation-duration: 0.6s;
                                    }
                                    
                                    @-webkit-keyframes zoom {
                                        from {
                                            -webkit-transform: scale(0)
                                        }
                                        to {
                                            -webkit-transform: scale(1)
                                        }
                                    }
                                    
                                    @keyframes zoom {
                                        from {
                                            transform: scale(0)
                                        }
                                        to {
                                            transform: scale(1)
                                        }
                                    }
                                    /* The Close Button */
                                    
                                    .close {
                                        position: absolute;
                                        top: 70px;
                                        right: 35px;
                                        color: #f1f1f1;
                                        font-size: 40px;
                                        font-weight: bold;
                                        transition: 0.3s;
                                    }
                                    
                                    .close:hover,
                                    .close:focus {
                                        color: red;
                                        text-decoration: none;
                                        cursor: pointer;
                                    }
                                    
                                    @media only screen and (max-width: 700px) {
                                        .modal-content {
                                            width: 50%;
                                            position: inherit;
                                            top: 35%;
                                            right: 25%;
                                        }
                                    }
                                    
                                    @media only screen and (min-width: 700px) {
                                        .modal-content {
                                            width: 35%;
                                            position: inherit;
                                            top: 20%;
                                            right: 32.5%;
                                        }
                                    }
                                    
                                    .slideUp {
                                        position: inherit;
                                        animation-name: slideUp;
                                        -webkit-animation-name: slideUp;
                                        animation-duration: 2s;
                                        -webkit-animation-duration: 2s;
                                        visibility: visible;
                                    }
                                    
                                    @keyframes slideUp {
                                        0% {
                                            opacity: 0;
                                            -webkit-transform: translateY(70%);
                                        }
                                        100% {
                                            opacity: 1;
                                            -webkit-transform: translateY(0%);
                                        }
                                    }
                                    
                                    @-webkit-keyframes slideUp {
                                        0% {
                                            opacity: 0;
                                            -webkit-transform: translateY(70%);
                                        }
                                        100% {
                                            opacity: 1;
                                            -webkit-transform: translateY(0%);
                                        }
                                    }
